textarea{
    resize: none;
    width: 400px;
    height: 60px;
    background-color: antiquewhite;
}

body{
    background-color: aliceblue;
    font-family:verdana;
    font-size: large;
    font: bolder;
}

#bigbox{
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
}